{% extends 'blog/base_generic.html' %}

{% block content %}
  <h2>{{ post.title }}</h2>
  <p>By {{ post.author }} on {{ post.date_posted }}</p>
  <p>{{ post.content }}</p>

  <form action="{% url 'like_post' post.pk %}" method="post">
    {% csrf_token %}
    <button type="submit">{{ post.likes.count }} Like</button>
  </form>
  {% if post.author == user %}
  <a href="{% url 'post-update' post.pk %}" class="btn btn-primary">Edit</a>
  <a href="{% url 'post-delete' post.pk %}" class="btn btn-danger">Delete</a>
  {% endif %}
  <div class="comment-form">
    <h3>Comments</h3>
    <form method="post">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <button type="submit">Add Comment</button>
    </form>
  </div>
  <ul>
    {% for comment in comments %}
      <li>{{ comment.content }} - {{ comment.author }}</li>
    {% endfor %}
  </ul>
{% endblock %}
